:root {
    --blue: #2563EB;
    --black: #111827;
    --white: #F3F4F6;
    --text: #111827;
    --active: #1E40AF;
    --red: #EF4444;
    --yellow: #FACC15;
    --green: #16A34A;
    --darkGray: #111827;
    --gray: #4B5563;
    --lightGray: #e9e6e6;
    --fadeBlack: rgba(0, 0, 0, 0.1);
    --lightBlue: #EFF6FF;
}
